<div class="card">
  <div class="card-body">

    <div class="row">
      <div class="col-12">
        <div class="card-title">
          <div class="float-left" style="padding-top: 10px;">
            <h4>{{label}}</h4>
          </div>
          <div class="float-right">
            <f-crudbuttons [tooltipPosition]="tooltipPosition"
                           [tooltipNewText]="tooltipNewText" [tooltipUpdateText]="tooltipUpdateText"
                           [tooltipDeleteText]="tooltipDeleteText" [buttonNewVisible]="buttonNewVisible"
                           [buttonUpdateVisible]="buttonUpdateVisible" [buttonDeleteVisible]="buttonDeleteVisible"
                           (onNewButtonClicked)="newButtonClicked()" (onUpdateButtonClicked)="updateButtonClicked()"
                           (onDeleteButtonClicked)="deleteButtonClicked()"
            ></f-crudbuttons>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <!-- List View -->
        <div [id]="id" *ngIf="detailed; else default" class="list-group">
          <div *ngFor="let item of items"
               class="list-group-item list-group-item-action flex-column align-items-start {{item.activeCssClass}} {{item.disabledCssClass}}"
               (click)="itemClicked(item)">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{item.title}}</h5>
              <small>{{item.notification}}</small>
            </div>
            <p class="mb-1">{{item.text}}</p>
            <small>{{item.note}}</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




<ng-template #default>
  <div [id]="id" class="list-group">
    <button *ngFor="let item of items"
            type="button"
            class="list-group-item list-group-item-action {{item.activeCssClass}} {{item.disabledCssClass}}"
            (click)="itemClicked(item)">
      {{item.title}}
    </button>
  </div>
</ng-template>

