<div class="btn-group" role="group">
  <button *ngIf="buttonNewVisible" class="btn btn-primary icon-btn" type="button"
          placement="{{tooltipNew.positionStr}}" ngbTooltip="{{tooltipNew.text}}"
          (click)="newButtonClicked()">
    <i class="fa fa-plus-circle"></i>
  </button>

  <button *ngIf="buttonUpdateVisible" class="btn btn-outline-secondary icon-btn" type="button"
          placement="{{tooltipUpdate.positionStr}}" ngbTooltip="{{tooltipUpdate.text}}"
          (click)="updateButtonClicked()">
    <i class="fa fa-pencil-square-o"></i>
  </button>

  <button *ngIf="buttonDeleteVisible" class="btn btn-danger icon-btn" type="button"
          placement="{{tooltipDelete.positionStr}}" ngbTooltip="{{tooltipDelete.text}}"
          (click)="deleteButtonClicked()">
    <i class="fa fa-minus-circle"></i>
  </button>
</div>
