<f-dropdown [id]="'education'" [label]="'Dropdown Label'" [buttonCssClass]="'outline-primary'" (onDropdownItemSelected)="onDropdownItemSelected($event)"></f-dropdown>

<f-textbox [id]="'name'" [label]="'Name'" [name]="'name'" [text]="'furkan'" [type]="TextBoxType.Text" (onTextChanged)="onTextChanged($event)"></f-textbox>
<f-textbox [id]="'pass'" [label]="'Password'" [name]="'pass'" [text]="'123456'" [type]="TextBoxType.Password" (onTextChanged)="onTextChanged($event)"></f-textbox>
<f-textbox [id]="'email'" [label]="'Email'" [name]="'email'" [placeholder]="'Email'" [text]="''" [type]="TextBoxType.Email" (onTextChanged)="onTextChanged($event)"></f-textbox>

<f-datagrid></f-datagrid>

<f-button [id]="'mybutton'" [label]="'click me!'" [cssClass]="'inverse-primary'" (onClick)="onMyButtonClicked()"></f-button>

<f-radiogroup [id]="'rdbEducation'" [label]="'Education'" [inline]="false" [name]="'education'" (onSelectedChanged)="onRadioEducationSelectedChanged($event)"></f-radiogroup>

<f-checkgroup [id]="'chkEducation'" [label]="'Education'" [inline]="false" [name]="'education'" (onSelectedChanged)="onCheckEducationSelectedChanged($event)"></f-checkgroup>

<f-select [id]="'slctEducation'" [label]="'Education'" [name]="'education'" (onSelectedChanged)="onSelectEducationSelectedChange($event)"></f-select>

<f-textarea [id]="'desc'" [label]="'Description'" (onTextChanged)="onTextAreaTextChanged($event)" ></f-textarea>

