<div class="form-group row">
  <label class="col-12 col-form-label">{{label}}</label>
  <div class="col-12" *ngIf="!inline; else inlineStyle">
    <div class="form-check" *ngFor="let option of options">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="{{name}}" value="{{option.value}}"
               (change)="selectionChanged()" [(ngModel)]="option.selected"
               [disabled]="option.disabled">{{option.label}}
      </label>
    </div>
  </div>
</div>

<ng-template #inlineStyle>
  <div class="col-12">
    <div class="form-check-inline" *ngFor="let option of options">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="{{name}}" value="{{option.value}}"
               (change)="selectionChanged()" [(ngModel)]="option.selected"
               [disabled]="option.disabled">{{option.label}}
      </label>
    </div>
  </div>
</ng-template>
