<div class="form-group row">
  <label class="col-12 col-form-label">{{label}}</label>
  <div class="col-12" *ngIf="!inline; else inlineStyle">
    <div class="form-check" *ngFor="let option of options">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="{{name}}" value="{{option.getValue()}}"
               (change)="onSelectionChanged(option)" [(ngModel)]="option.selected"
               [disabled]="option.isDisabled()">{{option.getLabel()}}
      </label>
    </div>
  </div>
</div>

<ng-template #inlineStyle>
  <div class="col-12">
    <div class="form-check-inline" *ngFor="let option of options">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="{{name}}" value="{{option.getValue()}}"
               (change)="onSelectionChanged(option)" [(ngModel)]="option.selected"
               [disabled]="option.isDisabled()">{{option.getLabel()}}
      </label>
    </div>
  </div>
</ng-template>
