/* The toast - position it at the bottom and in the middle of the screen */
.toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: calc(100% - 125px - 10px); /* Center the toast */
  bottom: 30px; /* 30px from the bottom */
}

.toast.default {
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
}

/* Show the toast when clicking on a button (class added with JavaScript) */
.toast.show {
  visibility: visible; /* Show the toast */
  /* Add animation: Take 0.5 seconds to fade in and out the toast.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadeInRight 0.5s, fadeOutRight 2.5s 3.5s;
  animation: fadeInRight 0.5s, fadeOutRight 2.5s 3.5s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(250px);
  }
}
